@use "../utils/" as *;

.contact {
  &__header {
    font-size: rem(40);
    text-align: center;
    padding-top: rem(40);

    @include breakpoint-down(small) {
      font-size: rem(30);
      padding-top: rem(35);
      margin-bottom: rem(15);
    }
  }

  &__form {
    max-width: 70%;
    margin: rem(20) auto rem(50);
    border: 1px #444 solid;
    background: linear-gradient(
      135deg,
      rgba(9, 9, 11, 0.011),
      rgba(255, 255, 255, 0.18)
    );
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius: rem(20);
    padding: rem(20);

    @include breakpoint-down(small) {
      max-width: 90%;
    }
  }

  &__form label {
    display: block;
    margin-bottom: rem(3);
    font-size: rem(20);
    font-weight: bold;
  }

  &__form input {
    width: 100%;
    height: rem(40);
    max-width: 100%;
    margin: rem(3) 0 rem(15) 0;
    padding: rem(5);
    font-size: rem(20);
    font-weight: 500;
    background: #eee;
    border: 1px solid;
    border-radius: rem(10);
    padding: rem(10);
  }

  &__form textarea {
    width: 100%;
    height: rem(80);
    max-width: 100%;
    margin: rem(3) 0 rem(15) 0;
    padding: rem(5);
    font-size: rem(20);
    font-weight: 500;
    background: #eee;
    border: 1px solid;
    border-radius: rem(10);
    padding: rem(10);
  }
}
