@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.reviews-slide {
  animation: 45s slide infinite linear;
}

.reviews:before,
.reviews:after {
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  content: "";
  z-index: 2;
}

.reviews:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    var(--background) 60%
  );
}

.reviews:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--background) 60%
  );
}
