//398px, 800px, 1076px, 1400px
$breakpoints-down: (
  "smaller": "24.875em",
  "small": "50em",
  "medium": "67.25em",
  "large": "87.5em",
);

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
