@use "../utils/" as *;

body {
  background: var(--mainColor);
}

.section-one {
  margin: 0px auto;
  overflow-x: hidden;
  max-width: 87%;
  height: 500px;
  padding: 4px;
  border-radius: 40px;
  background: var(--backgroundOne);
  color: black;
}
