@use "../utils/" as *;

body {
  background: var(--mainColor);
  overflow-x: hidden;
}

.home {
  margin: 0px auto;
  overflow-x: hidden;
  max-width: 90%;
  height: 500px;
  padding: 4px;
  border-radius: 20px;
  background: var(--homeBackground);
  color: black;
  margin-bottom: 20px;
}

.stacks {
  max-width: 90%;
  background: var(--stacksBackground);
  border-radius: 20px;
  padding: 10px;
}
