@use "global";
@use "styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  //DARK MODE
  --mainColor: #252323;
  --backgroundOne: linear-gradient(to bottom, #5b6670 20%, #4b4f4a 70%);
}

@media (prefers-color-scheme: light) {
  :root {
    --mainColor: #7e837e;
    --backgroundOne: linear-gradient(to bottom, #cde2f5 20%, #d9e6d7 70%);
  }
}
